<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta property="fb:app_id"        content="128032200945313" />
  <meta property="og:url"           content="https://beer-personality-test.herokuapp.com/home" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content= "Beer Personality Test" />
  <meta property="og:description"   content="Find Your Inner Beer Personality" />
  <meta property="og:image"         content="https://pbs.twimg.com/profile_images/626284525778288640/Rz3yFqLQ.jpg" />

  <link rel="stylesheet" href="/stylesheets/application.css">
  

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/landing-page.css">
  <link href="/bootstrap/css/modern-business.css" rel="stylesheet">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Find Your Inner Beer</title>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=128032200945313";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <%= yield %>
</body>
</html>
